# Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

## 30.1 위치 인수와 리스트 언패킹 사용하기

In [3]:
## 30.1.1 위치 인수를 사용하는 함수를 만들고 호출하기
def print_number(a, b, c):
  print(a)
  print(b)
  print(c)

print_number(10, 20, 30)

10
20
30

In [7]:
## 30.1.2 언패킹 사용하기
x = [10, 20, 30]
print_number(*x)
print_number(*[10, 20, 30])

10
20
30
10
20
30

In [14]:
## 30.1.3 가변 인수 함수 만들기
def print_numbers(*args):
  for arg in args:
    print(arg)

In [15]:
print_numbers(10)
print_numbers(10,20,30,40)

10
10
20
30
40

In [16]:
x = [10]
print_numbers(*x)

y = [10, 30, 20]
print_numbers(*y)

10
10
30
20

## 30.2 키워드 인수 사용하기

In [19]:
def personal_info(name, age, address):
  print(f'이름: {name}')
  print(f'나이: {age}')
  print(f'주소: {address}')

In [20]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름: 홍길동
나이: 30
주소: 서울시 용산구 이촌동

In [21]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

이름: 홍길동
나이: 30
주소: 서울시 용산구 이촌동

In [22]:
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름: 홍길동
나이: 30
주소: 서울시 용산구 이촌동

## 30.3 키워드 인수와 딕셔너리 언패킹 사용하기

In [23]:
def personal_info(name, age, address):
  print(f'이름: {name}')
  print(f'나이: {age}')
  print(f'주소: {address}')

In [25]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울시 용산구 이촌동

In [26]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

이름: 홍길동
나이: 30
주소: 서울시 용산구 이촌동

In [27]:
## 30.3.2 키워드 인수를 사용하는 가변 함수 만들기
def personal_info(**kwargs):
  for kw, arg in kwargs.items():
    print(kw,': ', arg, sep='')

In [28]:
personal_info(name='홍길동')

name: 홍길동

In [29]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [60]:
y = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**y)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

## 20.4 매개변수에 초깃값 지정하기

In [31]:
def personal_info(name, age, address='비공개'):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)

In [32]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [33]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

## 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기 
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

In [67]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*arg):
  return min(arg), max(arg)
def get_average(**karg):
  return sum(karg.values())/len(karg)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english, mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

89 92 73 83
낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50