# Unit 10. 리스트와 튜플 사용하기

## 10.1 리스트 만들기

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [8]:
## 10.1.1 리스트에 여러 가지 자료형 저장하기
person = ['james', 17, 175.3, True, [120, 80]]    # 리스트
person_dic = {'name':'James', 'age':19, 'height':175.3,
              'is_male':True, 'bp':[120, 80]}     # 딕셔너리
print(person)
print(person_dic)

['james', 17, 175.3, True, [120, 80]]
{'name': 'James', 'age': 19, 'height': 175.3, 'is_male': True, 'bp': [120, 80]}

In [6]:
## 10.1.2 빈 리스트 만들기
a = []
b = list()
a, b

([], [])

In [16]:
## 10.1.3 range를 사용하여 리스트 만들기
a = list(range(10))
print(a)

b = list(range(5, 12))
print(b)

c = list(range(-4, 10, 2))
print(c)

d = list(range(10, 0 , -1))
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[-4, -2, 0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플 사용하기

In [20]:
a = (38, 21, 53, 62, 19)
print(a)
b = 38, 21, 53, 62 ,19
print(b)

(38, 21, 53, 62, 19)
(38, 21, 53, 62, 19)

In [21]:
person = ('james', 17, 175.3, True)
print(person)

('james', 17, 175.3, True)

In [26]:
## 10.2.1 요소가 한 개 들어있는 튜플 만들기
a = (38, )
b = 38,
a, b

((38,), (38,))

In [27]:
## 10.2.2 range를 사용하여 튜플 만들기
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [29]:
## 10.2.3 튜플을 리스트로 만들고 리스트를 튜플로 만들기
a = [1, 2, 3]
print(tuple(a))

b = (4, 5, 6)
print(list(b))

(1, 2, 3)
[4, 5, 6]

In [30]:
## 참고 : list와 tuple 안에 문자열을 넣으면?
print(list('Hello'))
print(tuple('Python'))

['H', 'e', 'l', 'l', 'o']
('P', 'y', 't', 'h', 'o', 'n')

In [32]:
## 참고 : 리스트와 튜플로 변수 만들기 (패킹)
a, b, c = [1, 2, 3]   
print(a, b, c)

d, e, f = (4, 5, 6)   
print(d, e, f)

1 2 3
4 5 6

In [33]:
## 참고 : ## 참고 : 리스트와 튜플로 변수 만들기 (언패킹)
x = [1, 2, 3]   # 리스트 패킹
a, b, c = x     # 리스트 언패킹
print(a, b, c)

y = (4, 5, 6)   # 튜플 패킹
d, e, f = y     # 튜플 언패킹
print(d, e, f)

1 2 3
4 5 6

In [45]:
## 심사 문제 
''' 표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 
입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 
만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). '''

x = int(input())
a = tuple(range(-10, 10, x))
print(a)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)