# Unit 11. 시퀀스 자료형 활용하기

## 11.1 시퀀스 자료형의 공통기능 사용하기

In [7]:
## 11.1.1 특정 값이 있는지 확인하기
a = list(range(0,100,10))

print(30 in a)
print(100 in a)

print('P' in 'Hello, Python')

True
False
True

In [10]:
## 11.1.2 시퀀스 객체 연결하기
a = [0, 10, 20, 30]
b = [9, 8 , 7, 6]
a + b

[0, 10, 20, 30, 9, 8, 7, 6]

In [14]:
## 11.1.2 시퀀스 객체 연결하기
print(list(range(0,10)) + list(range(10,20)))
print(tuple(range(0,10)) + tuple(range(10,20)))

print('Hello, ' + 'world!')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)
Hello, world!

In [17]:
## 참고 : 문자열에 숫자 연결하기
print('Hello, '+ str(10))   # str을 사용하여 정수를 문자열로 변환

Hello, 10

In [28]:
# 파이썬 3.6부터를 formatted string 사용가능
pi = 3.14
print(f'Hello, {5:02d} : {pi:.4f}')

Hello, 05 : 3.1400

In [23]:
## 11.1.3 시퀀스 객체 반복하기
a = [10, 20, 30 ,40]
print(a*3)

b = list(range(1,5))
print(b*2)
c = tuple(range(1,5))
print(c*2)

print('Hello '*2)

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]
[1, 2, 3, 4, 1, 2, 3, 4]
(1, 2, 3, 4, 1, 2, 3, 4)
Hello Hello

## 11.2 시퀀스 객체의 요소 개수 구하기

In [29]:
## 11.2.1 리스트와 튜플의 요소 개수 구하기
a = list(range(0,100,10))
print(a)
print(len(a))

b = (38, 76, 43, 62, 19)
print(len(b))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
10
5

In [30]:
## 11.2.3 문자열의 길이 구하기
len('Hello, world!')

13

## 11.3 인덱스 사용하기

In [34]:
a = [38, 21, 53, 62, 19]

print(a[0])
print(a[2])

b = (38, 21, 53, 62, 19)
print(b[0])

38
53
38

In [35]:
r = range(0, 10, 2)
print(r[2])

4

In [38]:
hello = 'Hello, world!'
print(hello[2])

l

In [48]:
## 11.3.1 음수 인덱싱 지정하기
a = [38, 21, 53, 62, 19]
print(a[-1])

b = (38, 21, 53, 62, 19)
print(b[-1])

r = range(0, 10, 2)
print(r[-1])

hello = 'Hello, world!'
print(hello[-2])

19
19
8
d

In [51]:
## 11.3.3 마지막 요소에 접근하기
a = [38, 21, 53, 62, 19]
print(a[len(a)-1])

19

In [54]:
## 11.3.4 요소에 값 할당하기
a = [0, 0, 0, 0, 0]
a[0] = 38
a[1] = 21
a[2] = 53 
a[3] = 62
a[4] = 10
print(a)

[38, 21, 53, 62, 10]

In [55]:
## tuple과 range는 요소에 값 변경 불가
b = (0, 0, 0, 0, 0)
b[0] = 10

TypeError: ignored

In [56]:
## 11.3.5 del로 요소 삭제하기 (*tuple, string, range 은 사용 불가)
a = [38, 21, 53, 61, 10]
del a[2]
print(a)

[38, 21, 61, 10]

## 11.4 슬라이스 사용하기

In [60]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[0:4])    # 인덱스 0부터 3까지 잘라서 새 리스트를 만듦
print(a[1:1])
print(a[1:2])

[0, 10, 20, 30]
[]
[10]

In [66]:
## 11.4.1 리스트의 중간부분 가져오기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[4:7])

print(a[4:-1])  # # 인덱스 4부터 -2까지 요소 5개를 가져옴

[40, 50, 60]
[40, 50, 60, 70, 80]

In [67]:
## 11.4.2 인덱스 증가폭 사용하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:3]

[20, 50]

In [71]:
## 11.4.3  인덱스 생략하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

print(a[:7])
print(a[7:])
print(a[:])

[0, 10, 20, 30, 40, 50, 60]
[70, 80, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [75]:
## 11.4.4  인덱스를 생략하면서 증가폭 사용하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

print(a[:7:2])
print(a[7::2])
print(a[::2])

[0, 20, 40, 60]
[70, 90]
[0, 20, 40, 60, 80]

In [78]:
## 참고 : 슬라이스의 인덱스 증가폭을 음수로 지정하면?
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[5:1:-1])
print(a[::-1])

[50, 40, 30, 20]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [80]:
## 11.4.5 len 응용하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[0:len(a)])

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [82]:
## 11.4.7 슬라이스에 요소 할당하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:5] = ['a', 'b', 'c'] 
print(a)

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [84]:
b = list(range(10))
b[2:5] = [10, 20, 30, 40, 50]
b

[0, 1, 10, 20, 30, 40, 50, 5, 6, 7, 8, 9]

In [85]:
c = list(range(10))
c[2] = [10, 20, 30]
print(c)

c = list(range(10))
c[2:3] = [10, 20, 30]
print(c)

[0, 1, [10, 20, 30], 3, 4, 5, 6, 7, 8, 9]
[0, 1, 10, 20, 30, 3, 4, 5, 6, 7, 8, 9]

## 11.8 심사문제 : 리스트의 마지막 부분 삭제하기
표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 
다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [131]:
x = input().split()
del x[-1:-6:-1]
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

## 11.9 심사문제 : 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기
표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

In [134]:
a = input()
b = input()
print(a[1::2]+b[::2])

apple
strawberry
plsrwer