# Unit 6. 변수와 입력 사용하기

## 6.1 변수 만들기
- 영문 문자와 숫자를 사용할 수 있습니다.
- 대소문자를 구분합니다.
- 문자부터 시작해야하며 숫자부터 시작하면 안됩니다.
- _(밑줄 문자)로 시작할 수 있습니다.
- 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
- 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [1]:
x = 10
x

10

In [2]:
y = 'Hello, world!'
y

'Hello, world!'

In [3]:
# 6.1.1 변수의 자료형 알아내기
type(x), type(y)

(int, str)

In [8]:
# 6.1.2 변수 여러 개를 한 번에 만들기
x, y, z = 10, 20, 30
print(x, y, z)

x = y = z = 10
print(x, y , z)

x, y = 10, 20
x, y = y,x
print(x, y)

10 20 30
10 10 10
20 10

In [9]:
# 빈 변수 만들기
x = None
print(x)

None

## 6.2 변수로 계산하기

In [10]:
a , b = 10, 20
c = a + b
print(c)

30

### 6.2.1 산술 연산 후 할당 연산자 사용하기

In [11]:
a = 10
print(a +20)
print(a)

30
10

In [13]:
a = 10
a = a + 20
a

30

In [14]:
a = 10
a += 20
a

30

## 6.3 입력 값을 변수에 저장하기 (input)

In [17]:
# 6.3.2 input함수의 결과를 변수에 할당하기  
x = input()
x

Hello, world!

'Hello, world!'

In [18]:
# 6.3.3 두 숫자의 합 구하기
a = input('첫번째 숫자를 입력하세요: ')
b = input('두번째 숫자를 입력하세요: ')

print(a + b)

첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 20
1020

In [20]:
# 6.3.4 입력 값을 정수로 변환하기
a = int(input('첫번째 숫자를 입력하세요: '))
b = int(input('두번째 숫자를 입력하세요: '))

print(a + b)

첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 20
30

## 6.4 입력 값을 변수 두 개에 저장하기

In [23]:
a, b = input('문자열 두 개를 입력하세요: ').split()
print(a, b)

문자열 두 개를 입력하세요: hello python
hello python

In [26]:
# 6.4.1 두 숫자의 합 구하기
a, b = input('숫자 두 개를 입력하세요: ').split()
a = int(a)
b = int(b)
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

In [29]:
# 6.4.3 map을 사용하여 정수로 변환하기
a, b = map(int, input('숫자 두 개를 입력하세요: ').split())
print(a + b)

숫자 두 개를 입력하세요: 10 20
30

In [31]:
# 6.4.4 입력받은 값을 콤마를 기준으로 분리하기 
a, b = map(int,input('숫자 두 개를 입력, comma로 구분하세요: ').split(','))
print(a + b)

숫자 두 개를 입력, comma로 구분하세요: 10,20
30