## 22.1 리스트 조작하기

In [1]:
## 22.1.2 리스트에 요소 하나 추가하기
a = [10, 20, 30]
a.append(40)
print(a)

[10, 20, 30, 40]

In [4]:
## 22.1.3 리스트 안에 리스트 추가하기(append())
a = [10, 20, 30]
a.append([500, 600])
print(a)
print(len(a))

[10, 20, 30, [500, 600]]
4

In [7]:
## 22.1.4 리스트 확장하기(extend())
a = [10, 20, 30]
a.extend([500, 600])
print(a)
len(a)

[10, 20, 30, 500, 600]

5

In [9]:
## 22.1.5 리스트의 특정 인덱스에 요소 추가하기(insert())
a = [10, 20, 30]
a.insert(2, 500)
print(a)
print(len(a))

[10, 20, 500, 30]
4

In [11]:
a = [10, 20, 30]
a.insert(len(a), 500)
print(a)
print(len(a))

[10, 20, 30, 500]
4

In [14]:
## 22.1.7 리스트에서 특정 인덱스의 요소 삭제하기 (pop(), del())
a = [10, 20, 30]
a.pop()
print(a)

a = [10, 20, 30]
del a[2]
print(a)

[10, 20]
[10, 20]

In [18]:
## 22.1.8 리스트에서 특정 값을 찾아서 삭제하기(remove())
a = [10, 20, 30]
a.remove(20)
print(a)

a = [10, 20, 30, 20]
a.remove(20)
print(a)    #첫번째로 찾은 것만 삭제

[10, 30]
[10, 30, 20]

In [23]:
## 참고 
## 스택(stack) : last in last out
stack = []
stack.append(1);  stack.append(2);  stack.append(3);
print(stack)
print(stack.pop())
print(stack)

[1, 2, 2]
2
[1, 2]

In [27]:
## 참고
## 큐(queue) : first in first out 
queue = []
queue.insert(0,1); queue.insert(0,2); queue.insert(0,3);
print(queue)

[3, 2, 1]

In [29]:
## 22.1.9 리스트에서 특정 값의 인덱스 구하기
a = [10, 20, 30, 40 ,50]
print(a.index(30))

2

In [31]:
## 22.2.10 특정 값의 개수 구하기
a = [10, 20, 30, 40 ,50, 20]
print(a.count(20))

2

In [34]:
## 22.1.11 리스트의 순서를 뒤집기
a = [10, 20, 30, 40 ,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [38]:
## 22.1.12 리스트의 요소를 정렬하기
# sort() 또는 sort(reverse=False): 리스트의 값을 작은 순서대로 정렬(오름차순)
# sort(reverse=True): 리스트의 값을 큰 순서대로 정렬(내림차순)

a = [10, 20, 30, 15, 20, 40]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[10, 15, 20, 20, 30, 40]
[40, 30, 20, 20, 15, 10]

In [47]:
## 참고 : sort와 sorted
# sort : 정렬을 바꾸고 저장
# sorted : 정렬이 바뀐 새 리스트 생성
a = [10, 20, 30, 15, 20, 40]
a.sort()
print(a)

b = [10, 20, 30, 15, 20, 40]
print(sorted(b))
print(b)

[10, 15, 20, 20, 30, 40]
[10, 15, 20, 20, 30, 40]
[10, 20, 30, 15, 20, 40]

In [44]:
## 22.1.13 리스트의 모든 요소를 삭제하기
a = [10, 20, 30]
a.clear()
print(a)

[]

In [46]:
a = [10, 20, 30]
del a[:]
print(a)

[]

## 22.2 리스트의 할당과 복사 알아보기

In [51]:
# shallow copy
a = [0, 0, 0, 0, 0]
b = a

b[2] = 99
print(a)    #b의 요소를 바꾸면 a도 바뀜

[0, 0, 99, 0, 0]

In [52]:
a = [0, 0, 0, 0]
b = a.copy()

b[2] = 99
print(a)

[0, 0, 0, 0]

## 22.3 반복문으로 리스트의 요소를 모두 출력하기

In [54]:
## 22.3.1 for 반복문으로 요소 출력하기
a = [38, 21, 53, 62, 19]
for i in a :
  print(i)

38
21
53
62
19

In [56]:
## 22.3.2 인덱스와 요소를 함께 출력하기
for index, value in enumerate(a):
  print(index, value)

0 38
1 21
2 53
3 62
4 19

In [60]:
# 만약 index를 1부터 출력하고 싶다면?

for index, value in enumerate(a):
  print(index+1, value)

print()

for index, value in enumerate(a, start=1):
  print(index, value)

1 38
2 21
3 53
4 62
5 19

1 38
2 21
3 53
4 62
5 19

## 22.4 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기

In [62]:
## 22.4.1 가장 작은 수와 가장 큰 수 구하기
a = [38, 21, 53, 62, 19]

print(min(a))
print(max(a))

19
62

In [63]:
## 22.4.2 요소의 합계 구하기
a = [38, 21, 53, 62, 19]
print(sum(a))

193

## 22.5 리스트 표현식 사용하기

In [71]:
a = [i for i in range(10)]
print(a)

b = list(i for i in range(10))
print(b)

c = [i + 5 for i in range(10)]
print(c)

d = [i*2 for i in range(10)]
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [78]:
# 퀴즈 : 요소가 제곱인 리스트 만들기 
a = [i*i for i in range(1,10)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
## 22.5.1 리스트 표현식에서 if 조건문 사용하기
a = [i for i in range(10) if i % 2 == 0]
print(a)

[0, 2, 4, 6, 8]

In [75]:
## 22.5.2 for 반복문과 if 조건문을 여러 번 사용하기
a = [i*j for i in range(2,10)
         for j in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 리스트에 map 사용하기

In [80]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [82]:
## 22.6.1 input().split()과 map
a = list(map(int,input().split()))
print(a)

10 23
[10, 23]

##  22.10 심사문제: 2의 거듭제곱 리스트 생성하기
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1 ~ 20, 두 번째 입력 값의 범위는 10 ~ 30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [88]:
a, b = map(int,input().split())
c = [2**i for i in range(a, b+1)]
del c[1]
del c[-2]
print(c)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]