# Unit 25. 딕셔너리 응용하기

## 25.1 딕셔너리 조작하기

In [6]:
## 25.1.1 딕셔너리에 키와 기본값 저장하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x.setdefault('e', 100)
x, y

({'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100}, 100)

In [11]:
## 25.1.3 딕셔너리에서 키의 값 수정하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

x.update(a=90)
print(x)

x['b'] = 70     # 주로 사용
print(x)

{'a': 90, 'b': 20, 'c': 30, 'd': 40}
{'a': 90, 'b': 70, 'c': 30, 'd': 40}

In [12]:
## 25.1.4 딕셔너리에서 키-값 쌍 삭제학
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

del x['a']
print(x)

{'b': 20, 'c': 30, 'd': 40}

In [13]:
## 키-값쌍 모두 가져오기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

print(x.items())
print(x.keys())
print(x.values())

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])
dict_keys(['a', 'b', 'c', 'd'])
dict_values([10, 20, 30, 40])

In [15]:
## 키-값을 서로 바꾸고 싶을때

dict(zip(x.values(),x.keys()))

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [16]:
## 25.1.9 리스트와 튜플로 딕셔너리 만들기

k = ('a','b', 'c', 'd')
v = (10, 20, 30, 40)
dict(zip(k, v))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

## 25.2 반복문으로 딕셔너리의 키-값 쌍을 모두 출력하기

In [25]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

for key, value in x.items():
  print(f'{key} : {value}')

a : 10
b : 20
c : 30
d : 40

In [33]:
for i, (k, v) in enumerate(x.items()):
  print(i, k, v)

0 a 10
1 b 20
2 c 30
3 d 40

In [32]:
## 25.2.1 딕셔너리의 키만 출력하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

for key in x.keys():
  print(f'{key} : {x[key]}')

a : 10
b : 20
c : 30
d : 40

In [28]:
## 25.2.2 딕셔너리의 값만 출력하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

for value in x.values():
  print(f'{value}', end = ' ')

10 20 30 40

## 25.3 딕셔너리 표현식 사용하기

In [36]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x2 = {key: value*value for key, value in x.items()}
print(x2)

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [47]:
## 25.3.1 딕셔너리 표현식에서 if 조건문 사용하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

x = {key: value for key, value in x.items() if value != 20}
print(x)

{'a': 10, 'c': 30, 'd': 40}

## 25.4 딕셔너리 안에서 딕셔너리 사용하기

In [51]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])

6051.8

In [70]:
## 예제1
result = {'results': {'common': {'countPerPage': '10',
   'currentPage': '1',
   'errorCode': '0',
   'errorMessage': '정상',
   'totalCount': '1'},
  'juso': [{'admCd': '4215013700',
    'bdKdcd': '0',
    'bdMgtSn': '4215013700100940000017657',
    'bdNm': '경포대',
    'buldMnnm': '365',
    'buldSlno': '0',
    'detBdNmList': '',
    'emdNm': '저동',
    'emdNo': '03',
    'engAddr': '365, Gyeongpo-ro, Gangneung-si, Gangwon-do',
    'jibunAddr': '강원도 강릉시 저동 94 경포대',
    'liNm': '',
    'lnbrMnnm': '94',
    'lnbrSlno': '0',
    'mtYn': '0',
    'rn': '경포로',
    'rnMgtSn': '421503220002',
    'roadAddr': '강원도 강릉시 경포로 365(저동)',
    'roadAddrPart1': '강원도 강릉시 경포로 365',
    'roadAddrPart2': '(저동)',
    'sggNm': '강릉시',
    'siNm': '강원도',
    'udrtYn': '0',
    'zipNo': '25461'}]}}

print(result['results']['juso'][0]['roadAddr'])

강원도 강릉시 경포로 365(저동)

In [90]:
## 예제2
document = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

lng = float(document['documents'][0]['x'])
lat = float(document['documents'][0]['y']) 
print(f'위도 : {lat:6f}, 경도 : {lng:6f}')

위도 : 37.795569, 경도 : 128.896539

## 25.8 심사문제: 딕셔너리에서 특정 값 삭제하기
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [101]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

del x['delta']
x = {key:value for key, value in x.items() if value != 30}

print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}