# Unit 16. for 반복문으로 Hello, world! 100번 출력하기

## 16.1 for와 range 사용하기

In [5]:
for i in range(5):
  print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [6]:
## 16.1.1  반복문에서 변수의 변화 알아보기
for i in range(5) :
  print('hello, world', i)

hello, world 0
hello, world 1
hello, world 2
hello, world 3
hello, world 4

## 16.2 for와 range 응용하기

In [8]:
## 16.2.1  시작하는 숫자와 끝나는 숫자 지정하기
for i in range(5, 12):
  print('hello, world', i)

hello, world 5
hello, world 6
hello, world 7
hello, world 8
hello, world 9
hello, world 10
hello, world 11

In [11]:
## 16.2.2  증가폭 사용하기
for i in range(0, 10, 2):
  print('hello, world', i)

hello, world 0
hello, world 2
hello, world 4
hello, world 6
hello, world 8

In [14]:
## 16.2.3  숫자를 감소시키기
for i in range(10, 0, -1):
  print(i, end = " ")

10 9 8 7 6 5 4 3 2 1

In [15]:
## 16.2.4  입력한 횟수대로 반복하기
count = int(input('반복할 횟수를 입력하세요: '))
 
for i in range(count):
    print('Hello, world!', i)

반복할 횟수를 입력하세요: 4
Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3

## 16.3 시퀀스 객체로 반복하기

In [17]:
a = [10, 20, 30, 40, 50]

for i in a :
  print(i)

10
20
30
40
50

In [19]:
fruits = ('apple', 'orange', 'grape')

for i in fruits:
  print(i)

apple
orange
grape

In [23]:
for letter in 'python':
  print(letter, end = ' ')

p y t h o n

In [30]:
# 퀴즈
# 1~100까지 3의 배수면 Fizz, 5의 배수면 Buzz, 15의 배수면 FizzBuzz를 출력
for num in range(1, 101) :
  if num % 15 == 0 :
    print('Fizzbuzz', end = ' ')
  elif num % 3 == 0 :
    print('Fizz', end = ' ')
  elif num % 5 == 0 :
    print('Buzz', end = ' ')
  else :
    print(num, end = ' ')
  if (num % 10 == 0) :    # 10의 배수마다 줄바꿈
    print()

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz
11 Fizz 13 14 Fizzbuzz 16 17 Fizz 19 Buzz
Fizz 22 23 Fizz Buzz 26 Fizz 28 29 Fizzbuzz
31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz
41 Fizz 43 44 Fizzbuzz 46 47 Fizz 49 Buzz
Fizz 52 53 Fizz Buzz 56 Fizz 58 59 Fizzbuzz
61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz
71 Fizz 73 74 Fizzbuzz 76 77 Fizz 79 Buzz
Fizz 82 83 Fizz Buzz 86 Fizz 88 89 Fizzbuzz
91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

In [40]:
## 퀴즈 
## 10000까지의 숫자 중에서 자기 자신을 제외한 약수의 합이 자기자신과 같은 수 (perfect number)
for num in range(2, 10001):
  sum = 0
  for i in range(1, num) :
    if num % i == 0 :
      sum += i
      
  if sum == num :
    print(num)

6
28
496
8128

## 16.6 심사문제 : 구구단 출력하기
표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [26]:
num = int(input())

for i in range(1, 10):
  print(str(num) + ' * ' + str(i) + ' = ' + str(num*i))

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63