## 작업 1유형

In [73]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [27]:
## 성별이 Male인 환자들의 age의 평균값은 ?

df['age'] = df['age'].apply(lambda x: x.replace('*', ''))
df['age'] = df['age'].astype('int')
result = df[df['gender']=='Male']['age'].mean()
print(result)

44.68623481781376

In [18]:
## bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

df['bmi'] = df['bmi'].fillna(df['bmi'].median())
result = round(df['bmi'].mean(), 3)
print(result)

29.166

In [28]:
## bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

df['bmi_1'] = df['bmi']
df['bmi_1'] = df['bmi_1'].fillna(method='ffill')
result = round(df['bmi_1'].mean(), 3)
print(result)

29.188

In [68]:
## bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

df['나이대'] = df['age']//10*10
df['bmi_2'] = df['bmi']
df['age_bmi'] = '.'
bmi_dic = {x:y for x, y in df.groupby('나이대').mean()['bmi'].items()}
for i in range(len(df['나이대'])):
    df['age_bmi'].iloc[i] = bmi_dic[df['나이대'].iloc[i]]
df['bmi_2'] = df['bmi_2'].fillna(df['age_bmi'])
result = round(df['bmi_2'].mean(), 3)
print(result)

29.263

C:\Users\ccmedia\AppData\Local\Temp\ipykernel_5020\1318489688.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_bmi'].iloc[i] = bmi_dic[df['나이대'].iloc[i]]

In [80]:
## avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

df.loc[df['avg_glucose_level']>=200, 'avg_glucose_level'] = 199
result = round(df[df['stroke']==1]['avg_glucose_level'].mean(), 3)
print(result)

125.188

In [81]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [87]:
## Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

tmp = df.sort_values(by='Attack', ascending=False)
result = abs(tmp[:401]['Legendary'].sum() -  tmp[401:]['Legendary'].sum())
print(result)

57

In [90]:
## Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

result = df.groupby(['Type 1']).mean()['Total'].sort_values(ascending=False).index[2]
print(result)

Flying

In [108]:
## 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

tmp = df.dropna()
tmp = tmp[:int(len(tmp)*0.6)] # 60% 추출
result = tmp['Defense'].quantile(0.25)
print(result)

50.0

In [114]:
## Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

tmp = df[df['Type 1']=='Fire']['Attack'].mean()
result = len(df[(df['Type 1']=='Water') & (df['Attack']>=tmp)])
print(result)

37