## **작업형 유형 1문제(1)**

- 'car_crashes' 데이터 사용
- alcohol(음주수치)이 상위 10번째 값으로 상위 1~10위의 범위의 값을 변경한 후
- speeding(속도)가 7이상의 alcohol(음주수치) 데이터들의 평균 산출
- 최종결과만 print 출력

In [1]:
# seaborn, pandas 라이브러리 불러오기
import seaborn as sns
import pandas as pd

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [2]:
# seaborn 'car_crashes' 데이터 불러오기
df = sns.load_dataset('car_crashes')
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [3]:
# 'alcohol'열을 기준으로 내림차순 정렬 후 data 변수에 할당
data = df.sort_values(by='alcohol', ascending=False)

# 'alcohol'열의 상위 10번째 값을 추출하여 ten 변수에 할당
ten = data.iloc[9,2]

# 'alcohol'열의 상위 1~10위 값을 ten 변수의 값으로 대체
data.alcohol[:10] = ten
data.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
34,23.9,5.497,5.771,23.661,20.554,688.75,109.72,ND
40,23.9,9.082,5.771,22.944,19.359,858.97,116.29,SC
26,21.4,8.346,5.771,17.976,18.190,816.21,85.15,MT
43,19.4,7.760,5.771,17.654,16.878,1004.75,156.83,TX
11,17.5,9.450,5.771,14.350,15.225,861.18,120.92,HI
18,20.5,7.175,5.771,14.965,20.090,1281.55,194.78,LA
48,23.8,8.092,5.771,23.086,20.706,992.61,152.56,WV
41,19.4,6.014,5.771,19.012,16.684,669.31,96.87,SD
3,22.4,4.032,5.771,21.056,21.280,827.34,142.39,AR
36,19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK

In [4]:
# 'speeding'가 7이상의 'alcohol' 데이터의 평균을 result 변수에 할당
result = data[data.speeding >= 7].alcohol.mean()

In [5]:
# print 출력
print('최종 결과값 :', result)

최종 결과값 : 5.600099999999999

## **작업형 유형 1 문제(2)**

- seaborn의 'planets'데이터 사용
- 데이터 첫번째 행부터 70%까지의 데이터를 추출한 후
- 결측값 전처리 전과 후의 표준편차를 비교
- 전/후 결과값 print 출력

In [6]:
# seaborn, pandas 라이브러리 불러오기
import seaborn as sns
import pandas as pd

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [7]:
# seaborn 'planets' 데이터 불러오기
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [8]:
# len 함수로 df 데이터의 70%까지의 길이를 len변수에 할당
len = int(len(df)*0.7)

In [9]:
# len 길이만큼 데이터를 잘라서 df에 할당
df = df[:len]

In [10]:
# df2를 복사하여 생성
df2 = df.copy()

In [11]:
# df2의 distance열 결측치를 중앙값으로 대체
df2.distance = df2.distance.fillna(df2.distance.median())

In [12]:
# df1과 df2의 distance의 표준편차를 print로 출력
# pandas의 df.std()는 표본표준편차를 구하고, numpy의 np.std(df)는 모표준편차를 구함
# pandas를 사용하여 모표준편차를 구하려면 df.std(ddof=0)을 해주면 됨
print('전처리 전 :', df.distance.std())
print('전처리 후 :', df2.distance.std())

전처리 전 : 275.2191532793011
전처리 후 : 267.2360034486679

## **작업형 유형 1 문제(3)**

- seaborn 'planets'데이터 사용
- 'orbital_period'열의 이상치를 IQR기법으로 제거하여
- 이상치들의 합을 계산
- 최종 결과만 print 출력

In [13]:
# seaborn, pandas 라이브러리 불러오기
import seaborn as sns
import pandas as pd

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [14]:
df = sns.load_dataset('planets')

In [15]:
Q75 = df.orbital_period.quantile(0.75)
Q25 = df.orbital_period.quantile(0.25)
IQR = Q75 - Q25

In [16]:
max = Q75 + IQR*1.5
min = Q25 - IQR*1.5

In [17]:
df_outlier = df[(df.orbital_period >= max) | (df.orbital_period <= min)]

In [18]:
print('최종 합 :', df_outlier.orbital_period.sum())

최종 합 : 1818772.582