## 기온 강수량 데이터

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [2]:
## 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

df['time'] = pd.to_datetime(df['time'])
df['month'] = df['time'].apply(lambda x: x.month)
tmp = df[(6<=df['month']) & (df['month']<=8)]
result = len(tmp[tmp['이화동기온'] > tmp['수영동기온']]['time'].apply(lambda x: x.hour))
print(result)

1415

In [3]:
## 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

result1 = df[df['이화동강수']==df['이화동강수'].max()]['time'].iloc[0]
result2 = df[df['수영동강수']==df['수영동강수'].max()]['time'].iloc[0]
print(result1, result2)

2020-09-30 09:00:00 2020-07-23 12:00:00

## 서비스 이탈예측

In [4]:
import pandas as pd
#데이터 로드
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [5]:
## 남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

tmp = df[(df['Gender']=='Male') & (df['Exited']==1)]
result = tmp.groupby('Geography').count()[['CustomerId']].sort_values(by='CustomerId', ascending=False).reset_index().iloc[0]
print(result)

Geography     Germany
CustomerId        287
Name: 0, dtype: object

In [6]:
## 카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균 나이를 소숫점이하 4자리까지 구하여라?

tmp = df[(df['HasCrCard']==1) & (df['IsActiveMember']==1)]
result = round(tmp['Age'].mean(), 4)
print(result)

39.6102

In [7]:
## Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 소숫점이하 3자리까지 구하여라

tmp = df[df['Balance']>=df['Balance'].median()]
result = round(tmp['CreditScore'].std(), 3)
print(result)

97.295

## 성인 건강검진 데이터

In [8]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

In [9]:
## 수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼(‘혈압차’) 으로 생성하고, 연령대 코드별 각 그룹 중 ‘혈압차’ 의 분산이 5번째로 큰 연령대 코드를 구하여라

df['혈압차'] = df['수축기혈압'] - df['이완기혈압']
result = df.groupby('연령대코드(5세단위)').var()['혈압차'].sort_values(ascending=False).reset_index()['연령대코드(5세단위)'].iloc[4]
print(result)

60

In [10]:
## 비만도를 나타내는 지표인 WHtR는 허리둘레 / 키로 표현한다. 일반적으로 0.58이상이면 비만으로 분류한다. 데이터중 WHtR 지표상 비만인 인원의 남/여 비율을 구하여라

df['WHtR'] = df['허리둘레']/df['신장(5Cm단위)']
tmp = df[df['WHtR']>=0.58]
tmp.groupby('성별코드').size().reset_index()[0].iloc[1] / tmp.groupby('성별코드').size().reset_index()[0].iloc[0]

1.1693877551020408