In [127]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [128]:
## 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

tmp = df.groupby('Country').sum()['Goals']
tmp = pd.DataFrame(tmp).reset_index().sort_values(by='Goals', ascending=False)
result = tmp.head(5)
print(result)

      Country  Goals
8      Brazil    228
25    Germany    226
2   Argentina    135
36      Italy    123
24     France    115

In [129]:
## 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

tmp = df.groupby('Country').count().reset_index().sort_values(by='Player', ascending=False)
result = tmp[['Country', 'Player']].head(5)
print(result)

      Country  Player
8      Brazil      81
25    Germany      78
36      Italy      60
2   Argentina      59
24     France      58

In [135]:
## Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

# 내풀이
result = len(df[df['Years'] == '0'])
print(result)

# solution
# 년도가 4개로 구성되어 있는지 확인하는 함수 생성
def check_four(x):
    for i in x:
        if len(i) == 4:
            return False
        else:
            return True
        
df['year_list'] = df['Years'].str.split('-')
result = len(df[df['year_list'].apply(check_four)])
print(result)

45
45

In [136]:
## Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라

df2 = df[df['year_list'].apply(check_four) == False]
len(df2)

1250

In [137]:
## 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

def check_lencup(x):
    return(len(x))

df2['LenCup'] = df2['year_list'].apply(check_lencup)
result = len(df2[df2['LenCup'] == 4])
print(result)

16

C:\Users\ccmedia\AppData\Local\Temp\ipykernel_11172\823514272.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['year_list'].apply(check_lencup)

In [138]:
## Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

result = len(df2[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])
print(result)

7

In [147]:
## 2002년도에 출전한 전체 선수는 몇명인가?

result = len(df2[df2['Years'].str.contains('2002')])
print(result)

156

In [162]:
## 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

result = len(df2[df2['Player'].str.contains('carlos', case=False)])
print(result)

13

In [170]:
## 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

tmp = df2[df2['LenCup'] == 1]
result = tmp.sort_values(by='Goals', ascending=False).iloc[0]['Player']
print(result)

Just Fontaine

In [178]:
## 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

tmp = df2[df2['LenCup'] == 1]
result = tmp.groupby('Country').count().reset_index().sort_values(by='Player', ascending=False).iloc[0]['Country']
print(result)

Brazil