In [119]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [2]:
## 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

result = df[df['행복랭킹']==10]['점수'].mean()
print(result)

7.259

In [3]:
## 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

df[df['행복랭킹']<=50].groupby('년도').mean().reset_index()[['년도', '점수']]

     년도       점수
0  2018  6.64678
1  2019  6.67002

In [4]:
## 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

df_2018 = df[df['년도']==2018]
df_2018[['점수', '부패에 대한인식']].corr().iloc[0,1]

0.40529152271510027

In [5]:
## 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

tmp = df.groupby(['행복랭킹', '나라명']).count().reset_index()
result = len(tmp[tmp['년도'] >= 2])
print(result)

15

In [6]:
## 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

df_2019 = df[df['년도'] == 2019]
tmp = df_2019.corr().unstack().reset_index()
tmp = pd.DataFrame({'v1': tmp['level_0'], 'v2': tmp['level_1'], 'corr': tmp[0]})
tmp = tmp[tmp['corr']!=1.0]
result = tmp.sort_values(by='corr', ascending=False).drop_duplicates('corr').head(5)
print(result)

       v1     v2      corr
38  행복기대치  상대GDP  0.835462
19  상대GDP     점수  0.793883
37  행복기대치     점수  0.779883
28  사회적지원     점수  0.777058
29  사회적지원  상대GDP  0.754906

In [7]:
## 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

tmp1 = df_2018.sort_values(by='행복랭킹').tail(5)
tmp2 = df_2019.sort_values(by='행복랭킹').tail(5)
print('2018년:', tmp1['점수'].mean())
print('2019년:', tmp2['점수'].mean())

2018년: 3.1799999999999997
2019년: 3.1407999999999996

In [8]:
## 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

gdp_avg = df_2019['상대GDP'].mean()
upper_avg = df_2019[df_2019['상대GDP'] >= gdp_avg]
lower_avg = df_2019[df_2019['상대GDP'] <= gdp_avg]

result = upper_avg['점수'].mean()-lower_avg['점수'].mean()
print(result)

1.3904839572192538

In [32]:
## 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

tmp = df.sort_values(by=['년도', '부패에 대한인식'], ascending=False).groupby(['년도']).head(20)
tmp.groupby(['년도']).mean()['부패에 대한인식'].reset_index()

     년도  부패에 대한인식
0  2018    0.3267
1  2019    0.3201

In [58]:
## 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

in50_2018 = list(df_2018[df_2018['행복랭킹']<=50]['나라명'])
in50_2019 = list(df_2019[df_2019['행복랭킹']<=50]['나라명'])
result = []

for i in range(50):
    if in50_2018[i] not in in50_2019:
        result.append(in50_2018[i])
print(len(result))

4

In [127]:
## 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

# 2018, 2019년 모두 데이터가 있는 나라만 추출
tmp = df.groupby('나라명').count().reset_index()
country_list = list(tmp[tmp['년도'] == 2]['나라명'])
df1 = df.copy()  
for i in range(len(df)):
    if df['나라명'].iloc[i] not in country_list:
        df1.drop(i, inplace=True)
    else:
        pass

# 더 쉬운 방법(2018, 2019년 모두 데이터가 있는 나라만 추출)
df[df['나라명'].isin(country_list)]
    
# 2018년 점수를 -로 변환
for i in range(len(df1)):
    if df1['년도'].iloc[i] == 2018:
        df1['점수'].iloc[i] = -df1['점수'].iloc[i]
        
# groupby로 sum하여 최종 결과 출력
result = df1.groupby(['나라명']).sum().reset_index().sort_values(by='점수', ascending=False)
result.iloc[0][['나라명', '점수']]