In [64]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
## Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

result = df[df['Legendary']]['HP'].mean() - df[df['Legendary']==False]['HP'].mean()
print(result)

25.55614861329147

In [14]:
## Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

result = df['Type 2'].value_counts().sort_values(ascending=False).index[0]
print(result)

Flying

In [20]:
## 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

type1_max = df['Type 1'].value_counts().index[0]
result = df[df['Type 1']==type1_max]['Attack'].mean() / df[df['Type 1']==type1_max]['Defense'].mean()
print(result)

1.0165238678090576

In [28]:
## 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

result = df.groupby('Generation').sum().reset_index().sort_values(by='Legendary', ascending=False)
print(result['Generation'].iloc[0])

3

In [38]:
## ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

tmp = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index()
tmp = tmp[tmp[0]!=1].sort_values(by=0, ascending=False)
tmp.iloc[0]

level_0     Sp. Def
level_1     Defense
0          0.510747
Name: 26, dtype: object

In [48]:
## 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

tmp = df.sort_values(by='Attack').groupby('Generation').head(3)
result = tmp['Attack'].mean()
print(result)

19.5

In [49]:
## 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

tmp = df.sort_values(by='Attack', ascending=False).groupby('Generation').head(5)
result = tmp['Attack'].mean()
print(result)

157.23333333333332

In [54]:
## 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

df.value_counts(['Type 1', 'Type 2']).index[0]

('Normal', 'Flying')

In [58]:
## 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

tmp = df.value_counts(['Type 1', 'Type 2']).to_frame('count').reset_index()
result = len(tmp[tmp['count']==1])
print(result)

39

In [2]:
## 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

tmp = df.value_counts(['Type 1', 'Type 2']).to_frame('count').reset_index()
tmp = tmp[tmp['count'] == 1][['Type 1', 'Type 2']]

df2 = []
for i in range(len(tmp)):
    df2.append(df[(df['Type 1']==tmp.iloc[i]['Type 1']) & (df['Type 2']==tmp.iloc[i]['Type 2'])])
df2 = pd.concat(df2)
result = df2.groupby('Generation').count().reset_index()[['Generation', '#']]
print(result)

Generation
1    78
2    55
3    82
4    67
5    82
6    50
dtype: int64