In [1]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [4]:
## DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

df['DateTime'] = pd.to_datetime(df['DateTime'])
df['month'] = df['DateTime'].apply(lambda x: x.month)
result = df.groupby('month').size().to_frame('데이터개수').reset_index()
display(result)

    month  데이터개수
0       1   4464
1       2   4032
2       3   4464
3       4   4320
4       5   4464
5       6   4320
6       7   4464
7       8   4464
8       9   4320
9      10   4464
10     11   4320
11     12   4320

In [12]:
## 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

df['hour'] = df['DateTime'].apply(lambda x: x.hour)
tmp = df[df['month']==3]
result = tmp.groupby('hour').mean().sort_values(['Temperature']).reset_index().iloc[0]['Temperature']
print(result)

11.506612903225806

In [14]:
## 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

result = tmp.groupby('hour').mean().sort_values(['Temperature'], ascending=False).reset_index().iloc[0]['Temperature']
print(result)

18.393602150537635

In [22]:
## Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

tmp = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]
result = tmp['Humidity'].mean()
print(result)

68.23624448055094

In [27]:
## 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

tmp = df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']]
tmp.corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [35]:
## Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

def temperature_degree(x):
    if x<10:
        return 'A'
    elif (x>=10) & (x<20):
        return 'B'
    elif (x>=20) & (x<30):
        return 'C'
    else:
        return 'D'

df['temp_degree'] = df['Temperature'].apply(temperature_degree)
result = df['temp_degree'].value_counts()
print(result)

B    26993
C    21105
A     2874
D     1444
Name: temp_degree, dtype: int64

In [38]:
## 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

result = df[(df['month']==6) & (df['hour']==12)]['Temperature'].std()
print(result)

2.049941782795103

In [40]:
## 6월 데이터중 12시의 Temperature의 분산을 구하여라

result = df[(df['month']==6) & (df['hour']==12)]['Temperature'].var()
print(result)

4.202261312849164

In [46]:
## Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

temp_mean = df['Temperature'].mean()
tmp = df[df['Temperature']>=temp_mean]
result = tmp.sort_values(by='Temperature').iloc[3]['Humidity']
print(result)

87.9

In [47]:
## Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

temp_mean = df['Temperature'].median()
tmp = df[df['Temperature']>=temp_mean]
result = tmp.sort_values(by='Temperature').iloc[3]['Humidity']
print(result)

80.3